{
    "parserOptions": {
        "ecmaVersion": 6,
        "ecmaFeatures": {
            "experimentalObjectRestSpread": true
        }
    },
    "extends": "eslint:recommended",
    "rules": {
        "semi": ["error", "never"],
        "quotes": ["error", "single"],
        "global-require": ["error"],
        "one-var": [2, "never"],
        "no-console": [
            "error", {
                "allow": ["warn", "error"] }
        ]
    }
}
