doctype
html
  head
    link(rel="stylesheets" href="/css/main.css")
    title= title

  body
    header.header

    section.main-content

      h1= title

      p.quote.nasihat= quote
      p.source= source
