doctype
html
  head
    link(rel="stylesheet" href="/css/main.css")
    meta(name="viewport" content="width=device-width")
    title= title

  body

    block maincontent
    block navigation

  script(src="https://www.promisejs.org/polyfills/promise-7.0.4.min.js")
  script(src="/js/main.js")
