/*! Copyright Fakhrullah Padzil */

@custom-media --desktop (min-width: 600px);

:root{
	--fontSans: "Open Sans", Helvetica, "Ubuntu", sans-serif;
	--fontSerif: Georgia, serif;
	--colorFont: rgba(255,255,255,.96);
	--colorNav: rgba(255,255,255,.70);
}
:root{
	--textShadow:{
		text-shadow: 1px 1px 2px #666;
	} 

}


html{
	height: 100%;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body{
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: var(--fontSans);
	font-size: 16px;
	color: var(--colorFont);
	line-height: 1.8em;
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;

	background-color: #00BE9C;
	background-image: linear-gradient(140deg, #00BE9C 10%, #227FBC);
	background-size: cover;
	background-repeat: no-repeat;

	@media(--desktop){
		font-size: 18px;
		color: var(--colorFont);
	}
}

@media(--desktop){
	body{
		background-image: linear-gradient(150deg, #16A1A4, #814E9B 80%);
	}
	body::before{
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		/*https://pixabay.com/en/mountain-snow-snow-mountain-peak-1245916/*/
		background-image: url("/images/mountain.jpg");
		/*https://pixabay.com/en/torres-del-paine-mountains-granite-303400/*/
		/*background-image: url("/images/torres-del-paine.jpg");*/
		background-size: cover;
		background-position: top right;
		opacity: .2;
	}
}

.header{
	position: fixed;
	width: 100%;
	top:0;
	left: 0;

	@media(--desktop){
		position: absolute;
		top: -80px;
		left: 20%;
		width: 60%;

		button{
			margin: 0;
		}
	}

	.share{
		float: right;
	}
	.random{
		float:left;
	}
}

.main-content{
	width: 80%;
	max-width: 540px;
	margin: 0 auto;
	box-sizing: border-box;

	@media(--desktop){
		position:relative;
		text-align: center;
		min-width: 540px;
		max-width: 50%;
		/*
		 * Decoration on top (::before) and bottom (::after) border line.
		 */
		&::before, &::after{
			content: "";
			position: absolute;
			border-width: 4px;
			width: 70%;
			left: 15%;
			border-color: color(white alpha(.7));
			border-left-style: solid;
			border-right-style: solid;
		}
		&::before{
			height: 170px;
			top: -100px;
			border-top-style: solid;
		}
		&::after{
			height: 140px;
			bottom: -40px;
			border-bottom-style: solid;
		}
	}
}

.title{
	@apply --textShadow;
	margin-bottom: 40px;
	font-size: 170%;
}
.quote{
	margin-bottom: 30px;
	@apply --textShadow;
}
.source{
	@apply --textShadow;
	font-weight: bold;
}
.more{
	margin: 0;
	position: relative;
	z-index: 1;
	left: -10px;
}
@media(--desktop){
	.title, .quote, .source, .more{
		text-shadow: none;
	}
	.quote{
		font-size: 110%;
		font-style: oblique;
	}
	.source, .more{
		color: color(white alpha(.7));
	}
	.source{
		position: relative;
		width: 60%;
		left: 20%;
		top: 20px;
		text-transform: uppercase;
		letter-spacing: 2px;
	}
	.more{
		top: 20px;
		left: 0;
	}
}
.nav{
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
}

/*======================================================================
  Navigation
  ======================================================================*/
.menu{
	position: relative;
	top: 0;
	transition: top 500ms ease-in;
	display: inline-block;
	margin: 0;

	li{
		display: inline-block;
	}

	.nav-btn{
		font-size: 14px;
		color: var(--colorNav);
	}
}
.menu.hidden{
	/*display: none !important;*/
	top: 100px;
}

/*======================================================================
  Modals (page?)
  ======================================================================*/
.modal{
	position: fixed;
	z-index: 10;
	top: 0;
	left: 0;
	transition: ease-in 300ms top;

	width: 96%;
	height: 88%;
	margin: 2% 2% 10% 2%;
	box-sizing: border-box;
	background-color: #FFF;
	color:#333;

	.modal-nav-close{
		float: right;
		position: relative;
		top:-6px;
		right: -6px;
		margin: 0;
		background-color: #333;
		font-weight: bold;

		&:hover, &:focus{
			background-color:#222;
		}

		&:active{
			background-color: #000;
		}
	}

	.modal-heading{

	}

	.modal-body{

	}

}
.modal.hidden{
	/*display: none !important;*/
	top: -100%;
}

/*======================================================================
  Components - Button
  ======================================================================*/
button{
	margin: 16px;
	padding: 6px 10px;
	font-size: 24px;
	text-shadow: 0 1px 2px #666;
	background: transparent;		
	border: none;
	color: var(--colorFont);
	border-radius: 2px;

	@media(--desktop){
		text-shadow: none;
		color: color(white alpha(.5));
	}

	&:hover, &:focus{
		background-color: color(black alpha(.2));
	}
	&:active{
		background-color: color(black alpha(.6));
	}
}

/*======================================================================
  Components - Vector icons
  ======================================================================*/
.siv{
	fill: var(--colorFont);
	width: 24px;
	height: 24px;
	@media(--desktop){
		fill: color(white alpha(.6));
	}
}
